recursive-include lzhw *.py
recursive-include lzhw_cli *.py
recursive-include examples *.xlsx

include requirements.txt
include README.md
include MANIFEST.in
include *.py
include LICENSE
include tox.ini